"*":
  "animated-page-scroll": {}
  "autocomplete-plus":
    includeCompletionsFromAllBuffers: false
  "autohide-tree-view":
    minWidth: 1
  "bracket-matcher":
    autocompleteBrackets: false
  core:
    disabledPackages: [
      "linter-scss-lint"
      "linter-stylelint"
      "autohide-tree-view"
      "minimap"
      "github"
    ]
    ignoredNames: [
      ".git"
      ".svn"
      ".DS_Store"
      "node_modules"
      "bower_components"
      "tmp"
      ".bower"
      ".sass-cache"
      "dist"
    ]
    telemetryConsent: "limited"
    themes: [
      "atom-dark-ui"
      "atom-dark-syntax"
    ]
  editor:
    invisibles: {}
    softWrap: true
    tabType: "soft"
  emmet: {}
  "exception-reporting":
    userId: "1fd414bd-4f7d-47c6-636e-cd290c31158b"
  "file-types":
    hbs: "text.html.htmlbars"
  jshint:
    onlyConfig: true
  "language-babel":
    autoIndentJSX: true
  linter: {}
  "linter-eslint": {}
  "linter-jscs":
    onlyConfig: true
  "linter-jshint":
    lintJSXFiles: true
  "linter-ui-default": {}
  metrics:
    userId: "04e2b59bf2c9b8fcf465d9823a11c48db9b113a9"
  minimap:
    displayCodeHighlights: false
  "one-dark-ui": {}
  "release-notes":
    viewedVersion: "0.81.0"
  "tree-view":
    autoReveal: true
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  "vim-mode-plus":
    notifiedCoffeeScriptNoLongerSupportedToExtendVMP: true
  welcome:
    showOnStartup: false
  wordcount:
    alwaysOn: true
"source.gfm":
  editor:
    softWrap: true
